<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./variables.css" />
  <link rel="stylesheet" href="./css/Dashboard.css" />
  <link rel="stylesheet" href="./css/Game.css" />
  <link rel="icon" href="./assets/Images/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <title>Bosch</title>
</head>

<body>
  <script>
    var url = "<%= url %>";
  </script>
  <header>
    <div class="detail"></div>
    <nav class="navbar navbar-expand-lg bg-body-primary shadow-sm mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="home" id="title">
          <img src="./assets/Images/logo.png" alt="IconeBosch" width="160px" height="36px" id="bosch_icon"
            class="d-none d-md-flex" />
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Opções
              </button>
              <div class="dropdown-menu">
                <form id="options" class="px-4 py-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="timer" id="showTimer" <%= showTimer ? "checked" : "" %>>
                      <label class="form-check-label" for="showTimer">
                        Mostrar tempo
                      </label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="tries" id="showTries" <%= showTries ? "checked" : "" %>>
                      <label class="form-check-label" for="showTries">
                        Mostrar tentativas
                      </label>
                    </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="infos">
      <div class="timeCounter">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Tempo Restante</li>
          <li class="list-group-item"><span id="tempoRestante">1:00:00</span></li>
        </ul>
        <button id="toggleButtonStart" type="button" class="btn btn-success mx-1" onclick="toggleActivityStart()">Iniciar Prova</button>
        <button id="toggleButtonPause" type="button" class="d-none btn btn-success mx-1" onclick="toggleActivityPause()">Pausar Prova</button>
      </div>  

      <div class="counters">
        <ul class="list-group list-group-horizontal">
          <li style="
                border-color: var(--participantReady);
                border-width: 2px 1px 2px 2px;
              " class="list-group-item">
            Concluído
          </li>
          <li style="
                border-color: var(--participantReady);
                border-width: 2px 2px 2px 1px; 
              " class="list-group-item" id="finished">
              <% var finished = Object.values(data).reduce((counter, { done }) => done ? counter += 1 : counter, 0); %>
              <%= finished %>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li style="
                border-color: var(--participantDoing);
                border-width: 2px 1px 2px 2px;
              " class="list-group-item">
            Em andamento
          </li>
          <li style="
                border-color: var(--participantDoing);
                border-width: 2px 2px 2px 1px;
              " class="list-group-item" id="ongoing">
            <%= Object.keys(data).length - finished %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row row-cols-3 row-cols-md-4 g-4" id="competitors">
      <% for (const [key, value] of Object.entries(data)) { %>
        <div class="col" id="<%=value.code%>">
          <div class="card">
            <div class="cardHeader <%=
              value.done ? "greenBg" : "yellowBg"
            %>" id="<%=value.code%>-bg">
              <img class="image-bosch-pattern" src="<%=
                value.done
                  ? "./assets/icons/checkmark-frame.png"
                  : "./assets/icons/alarm-clock.png"
              %>" alt="Bosch color pattern" id="<%=value.code%>-icon" />
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="<%=value.code%>-name">Nome: <%=
              value.name
            %>
              </li>
              <li class="list-group-item" id="<%=
                value.code
              %>-done">Status: <%=value.done ? "Concluído" : "Executando"%>
              </li>
              <li class="list-group-item" id="<%=
                value.code
              %>-time">Tempo: <%=value.time%>
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-light btn-resp" data-bs-toggle="modal"
                  data-bs-target="#<%=value.code%>-modal">
                  Respostas
                </button>

                <div class="modal fade" id="<%=value.code%>-modal" tabindex="-1" aria-labelledby="<%=value.code%>-Label"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header" style="background-color: rgb(247, 247, 247)">
                        <h1 class="modal-title fs-5" id="<%=value.code%>-Label">
                          Respostas
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="
                          background-color: rgb(247, 247, 247);
                          border-radius: 0px 0px 10px 10px;
                        ">
                        <div class="card mb-5" style="border: 0cap">
                          <div class="card-body card_connected_comp">
                            <div class="card-body">
                              <form action="post" name="form-res" id="form-res">

                                <div class="input-group mt-3 mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default"><img
                                    src="../../assets/formas/triangulo.png" class="mini-icon" /></span>
                                  <input disabled value="<%=
                                    value.w1
                                  %>" id="<%=value.code%>-w1" type="number"  class="form-control"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>

                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default"><img
                                      src="../../assets/formas/quadrado.png" class="mini-icon" /></span>
                                  <input disabled value="<%=
                                    value.w2
                                  %>" id="<%=value.code%>-w2" type="number" class="form-control"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>

                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default"><img
                                      src="../../assets/formas/ellipse.png" class="mini-icon" /></span>
                                  <input disabled value="<%=
                                    value.w3
                                  %>" id="<%=value.code%>-w3" type="number" class="form-control"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>

                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default"><img
                                      src="../../assets/formas/star.png" class="mini-icon" /></span>
                                  <input disabled value="<%=
                                    value.w4
                                  %>" id="<%=value.code%>-w4" type="number" class="form-control"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>

                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default"><img
                                      src="../../assets/formas/pentagono.png" class="mini-icon" /></span>
                                  <input disabled value="<%=
                                    value.w5
                                  %>" id="<%=value.code%>-w5" type="number" class="form-control"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <%}%>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeWeigthModal">
          Launch demo modal
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="changeWeigthModal" tabindex="-1" aria-labelledby="changeWeigthModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="changeWeigthModalLabel">Alterar Pesos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="post" name="form-update" id="form-update" class="form">
                  <div class="input-group my-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">
                      <img
                        src="../assets/formas/triangulo.png"
                        class="mini-icon tri"
                      />
                    </span>
                    <input
                      type="number"
                      value="<%= currWeigths[2] %>"
                      class="form-control"
                      name="w1"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"
                      ><img src="../assets/formas/quadrado.png" class="mini-icon"
                    /></span>
                    <input
                      type="number"
                      value="<%= currWeigths[0] %>"
                      class="form-control"
                      name="w2"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"
                      ><img src="../assets/formas/ellipse.png" class="mini-icon"
                    /></span>
                    <input
                      type="number"
                      value="<%= currWeigths[1] %>"
                      class="form-control"
                      name="w3"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"
                      ><img src="../assets/formas/star.png" class="mini-icon"
                    /></span>
                    <input
                      type="number"
                      value="<%= currWeigths[3] %>"
                      class="form-control"
                      name="w4"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"
                      ><img src="../assets/formas/pentagono.png" class="mini-icon"
                    /></span>
                    <input
                      type="number"
                      value="<%= currWeigths[4] %>"
                      class="form-control"
                      name="w5"
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Salvar Alterações</button>
              </div>
            </div>
          </div>
        </div>


        
    </div>
  </main>

  <footer></footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="./js/Dashboard.js"></script>

</html>